body, html {
    font-family: "Opensans", sans-serif;
    margin: 0;
    
}

/* navbar */

.nav-main .logo {
    float: left;
    width: 5%;
    height: auto;
    padding: 6px 30px;
    line-height: 40px;
}

.nav-main {
    width: 100%;
    background-color: #000;
    height: 70px;
    color: #fff;
    
}

.main > ul > li {
    float: left;
}

.nav-main > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

.nav-main a, a:link {
    text-decoration: none;
    display: inline-block;
    padding: 25px 0px;
    margin-left: 60px;
    color: #fff;
}

.nav-main {
    opacity: 0.6;
}

.nav-main a:hover {
    color: #3fb1ec;
}




/* innovate */



.innovate {
    margin: -140px 0px;;
    background: #ccc;
    height: 700px;
    background-image: url(img/entrepreneur-593358_1920.jpg);
    text-align: center;
    color: #fff;
}

.innovate h1 {
    padding-top: 230px;
    font-size: 80px;
}
































