@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #4ddaa6;}
}


@-moz-keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #4ddaa6;}
}


@-webkit-keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #4ddaa6;}
}


@-ms-keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #01cb81;}
}


@-o-keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #4ddaa6;}
}


body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background-color: #4ddaa6;
    
    margin: -20px -20px;
    padding: 20px 30px;
    animation-name: headeranimation;
    animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
       -moz-animation-duration: 3.5s;
        -ms-animation-duration: 3.5s;
         -o-animation-duration: 3.5s;
    
    
}

/*.header footer {
    
    font-size: 150px;
    color: #FFF;
}*/

.header img{
    height: 10%;
    width: 10%;
    display: inline;
    margin: 0 30px;
    animation-name: fadein;
    animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
       -moz-animation-duration: 3.5s;
        -ms-animation-duration: 3.5s;
         -o-animation-duration: 3.5s;

}

.navitem {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
}

.hvr-underline-reveal:before {
    background: #4ddaa6
}

/*.header a:hover, .header a:active {
    text-decoration: underline;
}*/

#article {
    position: relative;
    top: 0px;
    padding: 50px;
}