@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}


@keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #4ddaa6;}
}


@-moz-keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #4ddaa6;}
}


@-webkit-keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #4ddaa6;}
}


@-ms-keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #01cb81;}
}


@-o-keyframes headeranimation {
    from {background-color: #FFF;}
    to {background-color: #4ddaa6;}
}


body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    
    background-color: #6FE1B7;
    margin: -20px -20px;
    padding: 11px 30px;
    animation-name: headeranimation;
    animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
       -moz-animation-duration: 3.5s;
        -ms-animation-duration: 3.5s;
         -o-animation-duration: 3.5s;
    
    
}

.header img{
    height: auto;
    width: 10%;
    display: inline;
    margin: 0 30px;
    animation-name: fadein;
    animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
       -moz-animation-duration: 3.5s;
        -ms-animation-duration: 3.5s;
         -o-animation-duration: 3.5s;

}

.header a {
    display: inline-block;
    padding: 3px 30px;
    color: #FFF;
    font-weight: bold;
}

.header a:hover, .header a:active {
    text-decoration: underline;
}

#article {
    position: relative;
    top: 0px;
    padding: 50px;
}